body {
    font-family: Arial, sans-serif;
    
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #121212; */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-creation-container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.post-creation-container h1 {
    margin-bottom: 20px;
}

.post-creation-container input[type="text"], .post-creation-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.post-creation-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #00ffcc;
    color: black;
    cursor: pointer;
    font-size: 20px;
    width: 153px;
    font-weight: bold;
}

.post-creation-container button:hover {
    background-color: #00cc99;
}
