* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 800px;  */
    padding: 20px;
    margin: 100px;
    color: white;
}

.text-container {
    width: 40%; 
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.form-content {
    width: 55%;
}

.sign-in-title {
    font-family: "Itim", cursive;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 26px;
    text-align: center;
}
.sign-in-row{
    width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fbtn {
    /* color: #181d38; */
    background-color: white;
    padding: 10px;
    /* border: 2px solid #181d38; */
    border-radius: 20px;
    margin: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.s-btn {
    /* color: #181d38; */
    background-color: white;
    padding: 10px;
    /* border: 2px solid #181d38; */
    border-radius: 20px;
    margin: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 62%;
}

.fbtn:hover {
    background-color: #333;
    color: white;
}
.s-btn:hover {
    background-color: #333;
    color: white;
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 20px 0;
}
.login{
    width: 400px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #888;
    margin: 0 10px;
}

.or-text {
    padding: 0 10px;
    color: #888;
    font-size: 14px;
    font-weight: bold;
}

label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    background-color: #333;
    background-color: white;
    /* color: white; */
    color: #333;

    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
}
input::placeholder{
    /* color: white; */
    color: black;

}

#email::placeholder{
    background-image: url(../images/user.png);
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-size: 3%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#pass::placeholder{
    background-image: url(../images/padlock.png);
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 4px;
    background-size: 3%;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.sign-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    /* background-color: #181d38; */
    color: #fff;
    font-family: "Itim", cursive;
    margin-bottom: 0px;
    padding: 5px;
}