*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    box-sizing: border-box;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* font-size: 25px; */
}

.container {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-size: 25px;
}

h1 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.steps {
    margin-bottom: 20px;
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.step-number {
    background-color: #333;
    color: whitesmoke;
    border-radius: 50%;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.step-description {
    text-align: left;
    color: whitesmoke;
}

button {
    background-color: whitesmoke;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
    color: whitesmoke;

}
