* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    height: 100vh;
    /* background-color: #061a29; */
    overflow: hidden;


}

.main {
    color: white;
    display: flex;
    flex-direction: row;
    /* width: 80vw; */
    margin: 100px;
    padding: 40px;
    justify-content: space-between;


}

.left {
    /* padding: 40px; */
    color: white;
    margin: 60px;
}

.left > p{
    font-size: 40px;

}

.right {
    color: white;
    padding: 40px;

}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    font-size: 1.1em;
    color: #fff;
    /* display: block; */
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #333;
    opacity: 1;
    color: white;

}

input::placeholder {
    color: white;
    /* font-weight: bold; */
}


form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

form button:hover {
    background-color: rgb(16, 97, 130);
}

footer {
    padding: 20px 0;
    /* background-color: #061a29; */
    color: white;
    margin-bottom: 0px;
    text-align: center;
    position: relative;
}